<!-- <h2 mat-dialog-title>Add Filter</h2> -->
<mat-dialog-content class="mat-typography">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9" style="color: #003b71">
        <strong>Add Filter</strong>
      </div>
    </div>
    <div class="row mt-3">
      <div class="container-fluid containerDesign">
        <!-- basic and advance div here -->
        <div class="row">
          <div class="col-md-6">
            <div
              class="card card-height card-border"
              (click)="clickOnSimple()"
              [ngClass]="simpleTabClicked === true ? 'blueClass' : ''"
            >
              <div class="card-text">Basic</div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="card card-height card-border"
              (click)="clickOnManual()"
              [ngClass]="manualTabClicked === true ? 'blueClass' : ''"
            >
              <div class="card-text">Advanced</div>
            </div>
          </div>
        </div>
        <!--Form of basic tab-->
        <div class="row" *ngIf="simpleTabClicked">
          <!-- form started -->

          <div class="container-fluid background-container">
            <div
              class="row justify-content-center pb-3"
              *ngIf="addClicked && !onEditClicked"
            >
              <div class="col-md-8 containerDesign">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card-body">
                      <table #table class="table table-light table-striped">
                        <tbody
                          class="tbodycss"
                          *ngFor="let op of data.prevoperation; let i = index"
                        >
                          <tr>
                            <td *ngIf="op.screen ==='basic'"
                              style="max-width: 224px; word-wrap: break-word"
                              class="card-text"
                            >
                              <b *ngIf="i != 0">{{ op.expression }}</b>

                              {{ op.datasource.domainName }} ,
                              {{ op.table.entityName }} ,

                              {{ op.column.attrName }} [ {{ op.operator }}
                              {{ op.condition }} ]
                            </td>
                            <td *ngIf="op.screen ==='Advanced'"
                            style="max-width: 224px; word-wrap: break-word"
                            class="card-text"
                          >
                            {{ op.columnCalName }}  {{ op.columnFormula }} 
                          </td>
                            <td>
                              <!-- <span class="circletoimg"

                                ><img

                                  (click)="onClickEditFilter(op)"

                                  id="pastchatview"

                                  style="font-size: 1rem;height:3vh"

                                  src="../../../assets/img/edit.svg" /></span

                              >&nbsp;

                              <span class="circletoimg"

                                ><img

                                (click)="onClickDeleteFilter(op)"

                                  id="pastchatview"

                                  style="font-size: 1rem;height:3vh"

                                  src="../../../assets/img/delete.svg"

                              /></span> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center" *ngIf="addClicked">
              <div class="col-md-6 text-center">
                <!-- <ul class="nav nav-pills justify-content-center">
                  <li class="nav-item">
                    <a  id="home-tab" data-toggle="tab" (click)="changeActiveTab('AND')" >AND</a>
                  </li>
                  <li class="nav-item">
                    <a  id="profile-tab" data-toggle="tab" (click)="changeActiveTab('OR')">OR</a>
                  </li>
                  </ul> -->
                <mat-button-toggle-group
                  [(ngModel)]="selectedOperator"
                  (ngModelChange)="changeActiveTab($event)"
                  aria-label="Font Style"
                >
                  <mat-button-toggle value="AND">AND</mat-button-toggle>
                  <mat-button-toggle value="OR">OR</mat-button-toggle>
                </mat-button-toggle-group>
                <!-- 
                <button type="button" class="btn btn-outline-primary"  >AND</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-primary">OR</button> -->
              </div>
            </div>

            <form [formGroup]="myForm">
              <div class="row">
                <div class="col-4">
                  <label>Select a Data Source</label>

                  <select
                    class="form-control mb-3"
                    formControlName="datasource"
                    (change)="onchangedatasource($event)"
                  >
                    <option disabled selected value="">
                      - Select a Data Source -
                    </option>
                    <option
                      *ngFor="let domain of datasourceList"
                      [ngValue]="domain.domainName"
                    >
                      {{ domain.domainName }}
                    </option>
                  </select>
                </div>
                <div class="col-4">
                  <label>Select a Entity</label>

                  <select
                    class="form-control mb-3"
                    formControlName="table"
                    (change)="onchangetable($event)"
                  >
                    <option disabled selected value="">
                      - Select a Entity -
                    </option>
                    <option
                      *ngFor="let entity of entityList"
                      [ngValue]="entity.entityName"
                    >
                      {{ entity.entityName }}
                    </option>
                  </select>
                </div>
                <div class="col-4">
                  <label>Select a Attribute</label>

                  <select class="form-control mb-3" formControlName="column" (change)="onChangeColumn($event)">
                    <option disabled selected value="">
                      - Select a Attribute -
                    </option>
                    <option
                      *ngFor="let attr of entityAttrList"
                      [ngValue]="attr.attrName"
                    >
                      {{ attr.attrName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label>Select a Operator</label>
                  <select class="form-control mb-3" formControlName="operation">
                    <option disabled selected value="">
                      - Select a Operator -
                    </option>
                    <option
                      *ngFor="let sortItem of operations"
                      [ngValue]="sortItem"
                    >
                      {{ sortItem }}
                    </option>
                  </select>
                </div>
                <div class="col-6">
                  <label for="number" style="color: #b4b4b4"
                    >Min 0.5, Max 5</label
                  >
                  <input
                    type="number"
                    formControlName="condition"
                    placeholder=""
                    class="form-control"
                  />
                </div>
              </div>
            </form>
          </div>
          <!-- end -->
        </div>

        <!-- Form of Advanced tab-->
        <div class="row" *ngIf="manualTabClicked">
          <div class="container-fluid background-container">
            <form [formGroup]="advancedTabForm">
              <div class="form-group">
                <label>Enter Name of Calculated Column</label>
                <input type="text" class="form-control" formControlName="columnCalName">
              </div>
              <div class="form-group">
                <label>Enter Formula For New Column</label>
                <textarea class="form-control" formControlName="columnFormula" rows="5"></textarea>
              </div>
            </form>
          </div>
        </div>

        <!-- clear and add/update button -->
        <div class="row justify-content-center" style="margin-top: 32px">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" (click)="onClear()">
              Clear</button
            >&nbsp;&nbsp;
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="isFormValid()"
              (click)="onClickAddButton()"
            >
              {{ button }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-primary mt-3" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
