/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 7px;

  overflow-y: scroll;

  background: grey;

  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #005587;

  border-radius: 10px;
}
